* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f3ee;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    color: #2f2f2f;
}

.card {
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 24px;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0,0,0,.08);
}

.emoji {
    font-size: 32px;
    margin-bottom: 10px;
}

h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.subtitle {
    color: #777;
    line-height: 1.7;
    margin-bottom: 35px;
}

.category {
    display: inline-block;
    background: #edf7ee;
    color: #5f8f64;
    padding: 8px 18px;
    border-radius: 999px;
    font-weight: bold;
    margin-bottom: 20px;
}

.message {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.7;
    min-height: 180px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 999px;
    background: #6b9d72;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .25s;
}

button:hover {
    background: #5b8b62;
    transform: translateY(-2px);
}

button:active {
    transform: scale(.98);
}

.fade{
    animation:fade .35s ease;
}

@keyframes fade{

    from{
        opacity:0;
        transform:translateY(10px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}
